.card {
    margin-bottom: 1.5rem;
    border: black 1px solid;
    border-radius: 25px;
}

.card__info {
    padding: 0 1rem;
}

.card__info h4 {
    font-weight: normal;
    font-style: italic;
}

.card__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

@container (min-width: 36rem) {
    .card__image {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

@container (max-width: 36rem) {
    .card__image {
        background-position: center 10%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .card__info p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}